@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>Treat: @Html.DisplayFor(model => model.TreatName)</h3>

@if(@Model.Flavors.Count == 0)
{
  <p>This Treat has not been assigned any flavors yet.</p>
}
else
{
  <h4>Flavors belonging to treat:</h4>
  <ul>
  @foreach(var join in Model.Flavors)
  {
    <li>@join.Flavor.Name</li>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
      {
    @using (Html.BeginForm("DeleteFlavor", "Treats"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete"/>
    }
      }
  }
  </ul>
}



<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>